header{
    background-image: url('../assets/Hero-bg.png');
    width: 1440;
    height: 600;

}
main{
    margin: 70px;
}
.hero-details{
    text-align: center;
    padding: 50px;
}
.cmn-titile{
    font-weight: bold;
    font-size: 48px;
}
.btn-primary{
    background-color: black;
    color: white;
    padding: 10px;
}

/* Why Web Development section */
.seect-body{
    background-color: aqua;
    padding: 20px;
    margin: 70px;
    border-radius: 15px;
}

.section-hed{
    text-align: center;
}

.part-1{
    margin: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    padding: 50px;
    border-radius: 15px;
}


.inspir-sec{
    text-align: center;
    /* margin: 70px; */
}
.ins-video{
    border: 1px solid aqua;
    border-radius: 15px;
    padding: 20px;
    
}



.language{
    display: flex;
    justify-content: space-between;
}
.target-content{
    text-align: center;
}
.html{
    background-color: #E7ECFF;
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
}
.css{
    background-color: #EBEBEB;
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
}
.java{
    background-color: aqua;
    margin: 5px;
    padding: 15px;
    border-radius: 15px;
    
}

/* support section */

.support{
    background-image: url('/assets/handshake.jpg');
    background-position: center;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    
    /* width: 1050px; */
    /* height: 310px; */
    padding: 80px;
    justify-content: center;
    color: white;
    margin-top: 30px;
}

.support-in{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
/* footer seceion */
footer{
    background-color: aqua;
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}
.footer-p{
    text-align: center;
}
.foo{
    display: flex;
    justify-content: space-around;
}
.logo{
    display: flex;
    justify-content: space-around;
    margin: 10px;
    padding-right: 50px;
}